<h2>REGISTER</h2>
<h2>Next</h2>
<h2><--</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.text_field :name, autofocus: true,placeholder: 'Full name', class:"input" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: 'Email', class:"input" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password",placeholder: 'Password', class:"input" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: 'Password confirmation', class:"input" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

  <%= render "devise/shared/error_messages", resource: resource %>
<% end %>

<%= render "devise/shared/links" %>
