<p style="color: green"><%= notice %></p>
<div class="log-page-nav">
  <%= link_to "<", '/groups', class: "back" %>
  <p class="reg-title">Transctions</p>
</div>
<p class="total-amount-tran">
  Total Transctions: <%= @entities.sum(:amount) || 0 %>$
</p>
<div id="groups" class="groups">
  <% @entities.each do |entity| %> <%= render entity %> <% end %>
</div>

<%= link_to "add a new Transction", new_group_entity_path, class: "sign-btn
add-btn" %>
