<section class="new-cat-page">
  <h1 class="new-cat">New Cat</h1>

  <%= form_with model: @group do |f|%>

  <div class="field">
    <%= f.text_field :name, autofocus: true,placeholder: 'Cat Name', class:"input" %>
  </div>

  <div class="field">
    <%= f.text_field :icon, placeholder: 'Icon' ,class:"input" %>
  </div>


  <div class="actions"><%= f.submit "Add Cat", class:"button" %></div>

  <% end %>
  <br />

  <div class="b-t-cat"><%= link_to "Back to Cat page", groups_path %></div>
</section>